:root {
  --font-mont: 'Montserrat', sans-serif;

  --white: #ffffff;
  --off-white: #f4f7fa;
  --gray-500: #52606d;
  --gray-900: #1f2933;

  --blue-500: #1c7ed6;
  --blue-700: #115b8c;
  --blue-800: #0b3c5d;

  --green-500: #25d366;
  --green-600: #1ebe5d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-mont);
  color: var(--gray-900);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
}

.cta-button {
  text-align: center;
  background: var(--green-500);
  max-width: max-content;
  padding-block: 1.25rem;
  padding-inline: 2rem;
  border-radius: 0.625rem;
  color: var(--off-white);
  font-weight: 700;
  letter-spacing: 3%;

  &:hover {
    background: var(--green-600);
    box-shadow: 0 4px 4px rgba(11, 60, 93, 0.2);
  }
}

.title {
  font-size: clamp(1.375rem, 4vw, 1.625rem);
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;

  nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    width: 60%;
    z-index: 999;
    text-transform: capitalize;
    box-shadow: 0 -3px 4px rgba(11, 60, 93, 0.2);
    font-size: 1.125rem;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;

    ul {
      list-style: none;
      margin-top: 6em;

      a {
        color: var(--gray-500);
        padding: 0.625rem 1.25rem;
        display: block;
        text-decoration: none;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 3%;

        &:hover {
          background: var(--blue-500);
          color: var(--off-white);
        }
      }

      .nav-cta {
        display: none;
      }
    }

    .close-menu {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 0.625rem;
      cursor: pointer;
      font-size: 1.25rem;
      color: var(--gray-500);
    }

    &.menu-ativo {
      transform: translateX(0);
    }
  }
}

.logo {
  color: var(--gray-900);

  .logo-left {
    font-weight: 700;
  }

  .logo-right {
    font-weight: 500;
  }
}

.menu-btn {
  cursor: pointer;
  font-size: 1.125rem;
  color: var(--gray-500);
}

.hero {
  position: relative;
  overflow: hidden;

  .hero-info {
    padding-block: clamp(3.75rem, 12vw, 10rem);
    display: grid;
    gap: 2.125rem;
    z-index: 2;

    h1 {
      font-size: clamp(2rem, 4vw, 2.875rem);
      font-weight: 700;
    }

    p {
      font-size: clamp(1rem, 4vw, 1.25rem);
      margin-bottom: 20px;
    }

    .chips-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.25rem;

      .chip-item {
        font-size: 0.75rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.375rem;
        background: var(--off-white);
        border: 1px solid var(--blue-500);
        padding-block: 0.625rem;
        padding-inline: 1rem;
        border-radius: 100px;
      }

      .chip-icon {
        width: 1.3em;
        height: 1.3em;
        color: var(--blue-500);
      }
    }
  }

  .hero-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background: #6b7278;
    z-index: -1;
    overflow: hidden;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--off-white);
    border-radius: 60px;
    transform: rotate(-28.76deg);
    transform-origin: 5em 1em;

    .hero-img {
      img {
        display: none;
      }
    }
  }
}

.social_proof-container {
  display: grid;
  gap: 3.75rem;

  .social_proof-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 2rem;
    align-items: center;
  }

  .social_proof-item:first-child {
    background: var(--white);
    padding-block: 60px;
    box-shadow: 0 4px 4px rgba(11, 60, 93, 0.2);

    i,
    p,
    h4 {
      color: var(--gray-900);
    }
  }

  .social_proof-item {
    padding: 2.5rem;
    display: grid;
    gap: 1.25rem;
    max-height: 100%;
    background: rgba(255, 255, 255, 70%);
    border-radius: 10px;

    i,
    p,
    h4 {
      color: var(--gray-500);
    }
  }
}

.social_proof {
  background: var(--off-white);
  padding-block: clamp(3.75rem, 12vw, 4.375rem);
}

.pain_points {
  padding-block: clamp(60px, 12vw, 70px);
  display: grid;
  gap: 60px;

  .pain_points-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .pain_points-item:nth-child(even) {
    background-color: var(--off-white);
  }

  .pain_points-item {
    display: grid;
    gap: 30px;
    padding-block: 40px;
    padding-inline: 30px;
    border-radius: 10px;

    .icon {
      color: var(--blue-700);
      width: 1.3em;
      height: 1.3em;
    }

    .pain_points-info {
      display: grid;
      gap: 20px;
      padding-left: 20px;
      border-left: 2px solid var(--blue-700);

      h3 {
        font-weight: 600;
        color: var(--blue-700);
      }

      p {
      }
    }
  }
}

.services_container {
  padding-block: clamp(3.75rem, 12vw, 4.375rem);
  display: grid;
  gap: 1.875rem;

  .services-list {
    display: grid;
    margin-top: 1.875rem;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .services-item:first-child {
    box-shadow: 0 2px 2px rgba(11, 60, 93, 0.2);
    background: var(--white);
  }

  .services-item {
    margin-left: 10px;
    background: rgba(255, 255, 255, 70%);
    padding-inline: 1.875rem;
    padding-block: 2.5rem 3.75rem;
    border-radius: 0.625rem;
    display: grid;
    gap: 1.875rem;
    position: relative;

    ul {
      font-weight: 500;
      display: grid;
      gap: 0.625rem;
      list-style: disc;
      padding-left: 1.25rem;
    }
  }

  .services-item::before {
    content: '';
    display: block;
    background: var(--blue-500);
    width: 0.625rem;
    height: 3.75rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 40px;
    left: -10px;
  }

  .services-item_header {
    display: grid;
    gap: 0.625rem;

    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--blue-700);
    }
  }

  .services-item_icon {
    display: grid;
    place-content: center;
    background: var(--off-white);
    padding: 1.25rem;
    max-width: max-content;
    max-height: max-content;
    border-radius: 100%;

    .icon {
      color: var(--blue-500);
      width: 1.3em;
      height: 1.3em;
    }
  }

  .services-cta {
    display: grid;
    place-items: center;
    gap: 2.25rem;
    margin-top: 1.875rem;

    h3 {
      font-size: clamp(1.375rem, 4vw, 1.5rem);
      font-weight: 700;
    }
  }
}

.services {
  background: var(--off-white);
}

.process {
  padding-block: clamp(3.75rem, 12vw, 4.375rem);
  display: grid;
  gap: 2.5rem;

  .process-item {
    padding-block: 1.875rem;
  }

  .process-item_info {
    display: grid;
    gap: 2.5rem;

    span {
      font-weight: 600;
      color: var(--blue-500);
      background: var(--off-white);
      padding: 1.25rem;
      width: 3.75em;
      height: 3.75em;
      display: grid;
      place-items: center;
      border-radius: 100%;
    }

    h3 {
      color: var(--blue-700);
      font-weight: 700;
      font-size: clamp(1.125rem, 4vw, 1.25rem);
    }
  }

  .process-item_icon {
    display: none;
  }
}

.faq-container {
  background: #f9fbfc;
}

.faq {
  padding-block: clamp(3.75rem, 12vw, 4.375rem);
  display: grid;
  gap: 3.75rem;

  .faq-questions {
    display: grid;
    gap: 1.875rem;
  }

  .question {
    background: var(--off-white);
    padding: 1.875rem;
    display: grid;
    border-radius: 0.625rem;
  }

  .question-header {
    cursor: pointer;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 1.125rem;
      font-weight: 600;
    }

    .open-question {
      background: var(--white);
      border: none;
      padding: 0.875rem;
      border-radius: 100%;
      cursor: pointer;
      color: var(--blue-700);
    }
  }

  .question-text {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.4s ease;
  }

  .question-text_inner {
    overflow: hidden;
  }

  .question.active {
    background: var(--white);
  }

  .question.active .question-text {
    margin-top: 20px;
    grid-template-rows: 1fr;
  }

  .question.active .open-question {
    background: var(--off-white);
  }

  .question.active .open-question i {
    transform: rotate(45deg);
  }
}

.final-cta_container {
  background: var(--gray-900);
}

.final-cta {
  padding-block: clamp(3.75rem, 12vw, 4.375rem);
  display: flex;
  flex-direction: column;
  gap: 3.75rem;

  .final-cta_info {
    display: grid;
    gap: 1.25rem;
    color: var(--off-white);

    h2 {
      font-weight: 600;
    }
  }

  .final-cta_action {
    display: grid;
    gap: 0.625rem;

    span {
      color: var(--off-white);
      font-size: 0.75rem;
    }
  }
}

@media (min-width: 760px) {
  .header-container {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header {
    width: min(100% - 2rem, 80rem);
    margin-inline: auto;

    nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
      box-shadow: none;

      ul {
        display: flex;
        margin: 0;
        gap: 1rem;

        a {
          color: var(--off-white);
          font-size: 1rem;
          border-bottom: 1px solid transparent;
          padding-inline: 0.375rem;

          &:hover {
            background-color: transparent;
            border-color: var(--off-white);
          }
        }

        .nav-cta {
          display: block;

          a {
            font-weight: 500;
            padding-inline: 1rem;
            color: var(--off-white);
            background: var(--green-600);
            border: none;
            border-radius: 0.625rem;
            text-transform: capitalize;

            &:hover {
              background: var(--green-500);
              box-shadow: 0 2px 2px rgba(11, 60, 93, 0.2);
            }
          }
        }
      }

      .close-menu {
        display: none;
      }
    }

    .menu-btn {
      display: none;
    }
  }

  .hero {
    .hero-shape {
      transform-origin: 5em 8em;

      .hero-img {
        width: 100%;
        height: 100%;
        transform-origin: 5em 1em;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: right center;
          display: block;
        }
      }
    }

    .hero-img::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
      pointer-events: none;
    }
  }

  .services_container {
    .services-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .process {
    .process-item {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
    }

    .process-item_icon {
      display: block;
      justify-self: end;
      padding-right: 1.875rem;

      .icon {
        width: 3.75rem;
        height: 3.75rem;
        color: #d2e5f7;
      }
    }

    .process-item_info {
      padding-left: 1.875rem;
      border-left: 2px solid var(--off-white);
    }

    .process-item:nth-child(2) {
      text-align: right;

      .process-item_icon {
        padding-left: 1.875rem;
        order: 2;
        justify-self: start;
      }

      .process-item_info {
        padding-right: 1.875rem;
        order: 1;
        border-right: 2px solid var(--off-white);
        border-left: none;

        span {
          justify-self: end;
        }
      }
    }
  }

  .final-cta {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .final-cta_action {
      span {
        text-align: right;
      }
    }
  }
}
