:root {
  --font-mont: 'Montserrat', sans-serif;

  --white: #ffffff;
  --off-white: #f4f7fa;
  --gray-500: #52606d;
  --gray-900: #1f2933;

  --blue-500: #1c7ed6;
  --blue-700: #115b8c;
  --blue-800: #0b3c5d;

  --green-500: #25d366;
  --green-600: #1ebe5d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-mont);
  color: var(--gray-900);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;

  nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    width: 60%;
    z-index: 999;
    text-transform: capitalize;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.125rem;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;

    ul {
      list-style: none;
      margin-top: 6em;

      a {
        color: var(--gray-500);
        padding: 0.625rem 1.25rem;
        display: block;
        text-decoration: none;

        &:hover {
          background: var(--blue-500);
          color: var(--off-white);
        }
      }

      .nav-cta {
        display: none;
      }
    }

    .close-menu {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      cursor: pointer;
      font-size: 1.25rem;
      color: var(--gray-500);
    }

    &.menu-ativo {
      transform: translateX(0);
    }
  }
}

.logo {
  color: var(--gray-900);

  .logo-left {
    font-weight: 700;
  }

  .logo-right {
    font-weight: 500;
  }
}

.menu-btn {
  cursor: pointer;
  font-size: 1.125rem;
  color: var(--gray-500);
}

@media (min-width: 760px) {
  .header {
    nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
      box-shadow: none;

      ul {
        display: flex;
        margin: 0;
        gap: 1rem;

        a {
          font-size: 16px;
          border-bottom: 1px solid transparent;
          padding-inline: 0.375rem;

          &:hover {
            background-color: transparent;
            color: var(--gray-900);
            border-color: var(--blue-500);
          }
        }

        .nav-cta {
          display: block;

          a {
            font-weight: 500;
            padding-inline: 1rem;
            color: var(--off-white);
            background: var(--green-500);
            border: none;
            border-radius: 0.625rem;

            &:hover {
              background: var(--green-600);
            }
          }
        }
      }

      .close-menu {
        display: none;
      }
    }

    .menu-btn {
      display: none;
    }
  }
}
