:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--gray-900);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

ul {
  list-style: none;
}
